* {
  margin: 0;
  padding: 0;
}

/* font family */
/* font-family: 'Inter', sans-serif;
  font-family: 'Merriweather', serif; */

/* website layout */
.container {
  width: 1320px;
  margin: 0 auto;
}

/* banner sectoin design */
.banner {
  position: relative;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(./img/Banner\ Image.png) center/cover no-repeat;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  padding: 180px 0;
}

.banner h2 {
  width: 632px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  z-index: 10;
}

/* holiday deal section style */

.holiday-container {
  margin: 120px 0;
}

.holiday-text {
  text-align: center;
  font-family: Inter;
}

.holay-heading {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  line-height: normal;
}

.holiday-text p {
  color: #f00;
  margin: 48px 0 16px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.holiday-text h4 {
  color: #070211;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 50px;
}
